<!DOCTYPE html>
html(ng-app="trainingApp")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title empty frontend project
    script(src="js/lib/angular/angular.js")
    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/style.css" rel="stylesheet")    
  body(ng-controller="MainController")
    main.main-container
      .form-group
        label(for="colors") Выбор цвета
        select(id="colors").form-control
          option(ng-repeat="color in colors | filter: search") {{color}}
        label(for="filter") Поиск цвета
        input(type="text" ng-model="search" id="filter").form-control
  script(src="js/bundle.js")
      
    
    

    
